{% extends "transporter/master.html" %}

{% block transporter %}



<style>
  .button-alter-password a:nth-of-type(2){
    padding: 5px 10px;
    margin: 10px;
    background: #dfb129!important;
    border-radius: 25px;
    color: #fff;
    text-align: center;        
}

.content_profile_transporter{
  display: none;
}
input{
  width:100% !important;
}

</style>
<div class="main_content_panel">  
    <div class="container container_inner_transporter">
      <div class="message-alert"></div>
      <div class="message-alert-error"></div>
     
      {{ message('message') }}

      <div class="title_and_new">
        <h2 class="section__title">Minha Conta</h2>
      </div>
      <div class="col-12">
        <div class="col-12 pl-1 button-alter-password d-flex justify-content-end align-items-center">                    
          <div class="d-flex flex-wrap flex-md-nowrap col-12 col-md-7">
          <a href="/transporter/account/update-password" class="col-12 m-0 mb-2 col-sm-5 m-sm-3 col-md-4 m-md-1 col-xl-4 btn btn-primary">Alterar senha</a>
          <a href="#" class="col-12 m-0 mb-2 col-sm-5 m-sm-3 col-md-4 m-md-1 col-xl-4 buttons_image">Alterar imagem</a>          
          
          
          
          <form action="/transporter/delete-account" method="post" class="col-12 m-0 mb-2 col-sm-5 m-sm-3 col-md-4 m-md-1 col-xl-4 col-md-3">
            <!-- <h5 class="mb-2">Excluir conta</h5>  -->
           <button type="submit" class="w-100 btn btn-danger rounded-pill" onclick="return confirm('Deseja realmente excluir sua conta ? Você irá perder todos os seus dados e sua assinatura cancelada.')">Excluir conta</button>
         </form>

        </div>
          
        </div>
      </div>

      <div class="content_profile_transporter">
        <div class="profile_transporter">
          <form class="form-input-image" action="/transporter/drivers/upload-profile" method="post" enctype="multipart/form-data">
            <div class="progress mt-2" style="display:none;">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="send_profile">
             
              <label for="idDoImput"><input id="idDoImput" name="file" type="file" style="opacity:0; height:0; width:0;"></label>
              <span><i class="ri-image-add-fill"></i></span>
              <h4>Clique aqui para adicionar uma imagem para a sua conta.</h4>
            </div>
            <button>Enviar</button>
          </form>
        </div>
      </div>

  <div class="row bg-white mt-3 pb-4 mb-5">


    <form action="account" method="POST" class="row g-3">
      <h2 class="text-start mb-3">Dados da Conta</h2>
      <div class="col-md-6">
        <label for="validationServer01" class="form-label">Nome da Transportadora</label>
        <input type="text" name="destransporter" class="form-control name_transporter" > 
        {{ message('destransporter') }}         
      </div>
      
      <div class="col-md-6">
        <label for="validationServer01" class="form-label">Email da Transportadora</label>
        <input type="text" name="desemailtransporter" class="form-control name_transporter">   
        {{ message('desemailtransporter') }}                
      </div>
      
      
      <div class="col-md-6">
        <label for="validationServerUsername" class="form-label">CNPJ</label>
        <div class="input-group has-validation">          
          <input type="text" name="descnpj" class="form-control cnpj_transporter">         
          {{ message('descnpj') }}          
        </div>
      </div>

      <div class="col-md-6">
        <label for="validationServer01" class="form-label">CEP</label>
        <input type="text" name="descep" class="form-control cep_transporter">          
        {{ message('descep') }}         
      </div>

      <div class="col-md-6">
        <label for="validationServer01" class="form-label">Cidade</label>
        <input type="text" name="descity" class="form-control city_transporter">          
        {{ message('descity') }}         
      </div>

      <div class="col-md-6">
        <label for="validationServer01" class="form-label">Bairro</label>
        <input type="text" name="desneighborhood" class="form-control neighborhood_transporter"> 
        {{ message('desneighborhood') }}                  
      </div>

      <div class="col-md-6">
        <label for="validationServer01" class="form-label">Endereço</label>
        <input type="text" name="desstreet" class="form-control street_transporter">        
        {{ message('desstreet') }}           
      </div>

      <div class="col-md-6">
        <label for="validationServer01" class="form-label">Número</label>
        <input type="text" name="desstreetnumber" class="form-control number_transporter">
        {{ message('desstreetnumber') }}                   
      </div>


      <div class="col-md-6">
        <label for="validationServer01" class="form-label">Telefone</label>
        <input type="text" name="nrphonetransporter" class="form-control phone_transporter">   
        {{ message('nrphonetransporter') }}                
      </div>

      <div class="col-md-6">
        <label for="validationServer01" class="form-label">Cargo</label>
        <input type="text" name="desrole" class="form-control role_transporter">
        {{ message('desrole') }}                   
      </div>



      
      <div class="col-12">
        <button type="submit" name="driver" class="rounded-pill btn btn-primary btn-send">Cadastrar</button>        
      </div>
    </form>


  </div>
    </div>
  </div>

  {% endblock %}