{% extends "transporter/master.html" %}

{% block transporter %}


<style>
  .button-edit a{
    background-color: #3abfeb;
  }

</style>
<main class="main_content_panel table_drivers">

  
  <div class="title_and_new">
    <h2 class="section__title ">Motoristas</h2>

   

    <div class="buttons_add col-12 d-flex flex-wrap justify-content-md-end text-center">
      <a class="col-12 m-0 mb-2 col-sm-5 m-sm-3 col-md-3 m-md-2 col-xl-3" href="/transporter/drivers/import"><i class="ri-file-upload-line m-1"></i>Importar CSV</a>
      <a class="col-12 m-0 mb-2 col-sm-5 m-sm-3 col-md-3 m-md-2 col-xl-3" href="/transporter/drivers/new_driver"><i class="ri-user-add-line m-1"></i>Adicionar motorista</a>
      <a class="col-12 m-0 mb-2 col-sm-5 m-sm-3 col-md-3 m-md-2 col-xl-3" href="/transporter/drivers/search"><i class="ri-user-search-line m-1"></i>Consultar motoristas</a>
    </div>




    <div class="row col-12">
    <div class="col-12 d-flex justify-content-end">
      <div class="col-12 col-md-5 d-flex mt-5 mb-2">
                      {# /update-tokenvalidador/public/transporter #}
        <form action="/update-tokenvalidador/public/transporter/drivers">
        <div class="input-group search">
        <input type="text" class="form-control col-3" id="formGroupExampleInput" placeholder="Buscar" name="s">
        <button class="btn btn-primary col-2"><i class="ri-search-fill"></i></button>
        <!-- <input class="btn btn-primary" type="submit" value="Submit"> -->
      </div>
    </form>
      </div>
    </div>
  </div>
  </div>
  

  <table class="table-driver" style="width: 100%;" cellspacing="0" cellpadding="0">
    <thead>
      <th>ID</th>
      <th>Nome</th>
      <th>CPF/CNPJ</th>
      <th>Cidade</th>
      <th>Telefone</th>
      <th>Detalhes</th>
      <th>Editar</th>
      <th>Excluir</th>
   
    </thead>
    <tbody>
     
    {% for items in data %}
    <tr>
    <td>{{ items.iddriver }}</td>
    <td>{{ items.name_driver }}</td>
    <td class="show_cpf_driver">{{ items.cpf_driver }}</td>
    <td>{{ items.phone_driver }}</td>
    <td class="show_nrphone_driver">{{ items.nrphone_driver }}</td>
   
    <td>
      <div class="buttons">
        <a class="edit" href="/transporter/driver/{{ items.iddriver }}">Detalhes</a>
      </div>
    </td>


      <td>
        <div class="buttons button-edit">
          <a href="/transporter/driver/{{ items.iddriver }}/edit" class="edit">Editar</a>
        </div>
      </td>
      <td>
      <div class="buttons exclude_driver">
        <a class="edit" data-id="{{ items.iddriver }}" data-action="/transporter/driver/{{ items.iddriver }}/delete" href="/transporter/driver/{$value.iddriver}/delete" onclick="return confirm('Deseja realmente excluir este registro?')">Excluir</a>
      </div>
    </td>
    
   
    </tr>
    {% endfor %}  
    
    </tbody>
    </table>
    <div class="box_footer">
      {{ links | raw }}
    </div>
</main>

{% endblock %}