
<div class="main_content_panel">    
  <div class="infos_panel">
   <div class="block_info_system">
     <div class="block_info">
       <span><i class="ri-steering-2-fill"></i></span>
       <div class="blog_info_text">
         <h3 class="transporters_qtd_home">{$quantdrivers}</h3>         
         <p>Total de motoristas</p>
         <a href="/transporter/drivers">Ver motoristas</a>
       </div>
     </div>
   </div>
   <div class="block_info_system">
     <div class="block_info">
      <span><i class="ri-user-follow-line"></i></span>
       <div class="blog_info_text d-flex flex-wrap justify-content-end">         
        <div class="col-12 col-sm-6 text-center content_tokens_home d-flex flex-column">
        <h3 class="drivers_qtd_home">
          {$tokensaccepts|count}
        </h3>
        <p>Validados</p>
        </div>
          <a class="bg_blue col-12 text-center" href="/transporter/historic">Ver histórico</a>
       </div>
     </div>
   </div>
   <div class="block_info_system">
   
     <div class="block_info">
      <span><i class="ri-refund-2-line"></i></span>
      <div class="blog_info_text text-end ">
        <div class="d-flex">
          <span class="pr-1 small tokens-font">Tokens</span>
          <h3 class="transporters_qtd_home">{$tokensused}/{$tokensmybenefits}</h3>
        </div>
        <div class="d-flex">
          <span class="pr-1 small tokens-font">Pesquisas</span>
          <h3 class="transporters_qtd_home">{$tokensUsedSearch}/{$tokensnotusedsearch}</h3>
        </div>
      </div>
     </div>
   </div>  
  </div>
  
  {if="$countdrivers == 0"}

  {else}
   <div class="block_show_transportes_and_graphic">
     <div class="show_transporters">
      <h3>Ultimos motoristas</h3>
       <div class="content_show_transporters">
          {loop="$drivers"}
            <div class="last_transporter">
              <h3 class="title_transporter">{$value.name_driver}</h3>
              <a href="/transporter/driver/{$value.iddriver}">Ver mais</a>
            </div>         
          {/loop}
        </div>
      </div>
  </div>
  {/if}
 </main>
</div>
</div>