<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<title>{$title}</title>-->
  <title>Loggitech - Painel Transpotadora</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../../public/assets/css/login.css">
</head>
<body>
  
  <div class="container">
    <div class="cover">
      <div class="front">
        <img src="../../public/assets/images/background-truck.jpg" alt="login" class="login-card-img">
        
      </div>
    </div>
    <form action="/update-tokenvalidador/public/transporter/login" method="post">
    <div class="content-form">
      <div class="login-form-driver">
        
        <div class="title-form">Login</div>
        {{ message('message') }}
        <div class="inputs-form">
          <div class="input-box">
            <i class="ri-mail-fill"></i>
            <input type="text" name="deslogin" placeholder="Digite seu E-mail">
            {{ message('deslogin') }}
          </div>
          <div class="input-box">
            <i class="ri-lock-2-fill"></i>
            <input type="password" name="password" placeholder="Digite sua Senha">
            {{ message('password') }}
          </div>
          <div class="forgot"><a href="/transporter/forgot">Esqueci a senha</a></div>
          <div class="input-box button">
            <input type="submit" value="Entrar">
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
