<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="/views/assets/img/fav.png"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">       
    <link rel="stylesheet" href="/update-tokenvalidador/public/assets/css/transporter.css">
    <link rel="stylesheet" href="/update-tokenvalidador/public/assets/css/transp.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0-4/css/all.css" integrity="sha512-6U5KNsEE+CRbgf5YNMGPSEE6nZhyiDNx2BZHnQZhmOax53UVM3oleMs4O+56tVRLfeQB1ketGs5zIm+i1AyQrA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/update-tokenvalidador/public/assets/css/temp.css">
  </head>
  <body>
   
    <div class="sidebar" id="sidebar">
      <span class="hide_menu_mobile" id="hide_menu_mobile">
        <i class="ri-close-fill"></i>
      </span>
      <span class="show-hide-menu" onclick="togglemenudesktop()">
        <i class="ri-menu-line"></i>
      </span>
      <div class="sidebar-brand">
        <img src="/views/assets/img/loggitech-positivo.png" alt="">
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="/update-tokenvalidador/public/transporter/painel">
              <span><i class="ri-dashboard-3-line"></i></span>
              <span>Inicio</span>
            </a>
          </li>
          <li>
            <a href="/update-tokenvalidador/public/transporter/historic/searchdriver/{{ transporter().idtransporter }}">
              <span><i class="ri-search-eye-line"></i></span>
              <span>Pesquisas</span>
            </a>
          </li> 
          <li>
            <a href="/update-tokenvalidador/public/transporter/drivers">
              <span><i class="ri-steering-2-fill"></i></span>
              <span>Motoristas</span>
            </a>
          </li>   
          <li>
            <a href="/transporter/historic">
              <span><i class="ri-list-check-2"></i></span>
              <span>Histórico</span>
            </a>
          </li> 
                  
          <li>
            <a href="/update-tokenvalidador/public/transporter/account">
              <span><i class="ri-user-settings-line"></i></span>
              <span>Minha conta</span>
            </a>
          </li>
          <li>
            <a href="/transporter/update-signature">
              <span><i class="ri-check-fill"></i></span>
              <span>Assinatura</span>
            </a>
          </li>
          <li>
            <a href="/update-tokenvalidador/public/transporter/logout">
              <span>
                <i class="ri-logout-box-line"></i>
              </span>
              <span>Sair</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div class="content">
      <header>
        <div class="menu_mobile" id="menu_mobile">
          <i class="ri-menu-fill"></i> 
        </div> 
        <div class="container_header">
          <div class="notifications">
            <form class="update-message-read" action="/transporter/verify-message" method="POST">
              <button class="bg-transparent border-0">
            <div class="icon_notification notifications_content">
                <i class="ri-notification-3-fill"></i>
                
                  {# {if="$verify == 1"} #}
                    <span class="qtd_notifications">
                      {# {$verify|count} #}
                    </span>

                  {# {else}
                  
                  {/if}
                #}
            </div>
            </button>
          </form>
            <ul class="container_notifcations">
              <li>
                <div class="dropdown_notification">
                  <div class="box_notification">
                    {# {loop="$notification"} #}
                      <div class="item-message">
                        <a href="/transporter/historic/">
                          {# {$value.messageDriver} #}
                          <div class="d-block text-dark w-100">
                            {# {function="formatDate($value.updateDate)"} #}
                          </div>
                        </a> 
                      </div>
                    {# {/loop} #}
                    <a class="p-3 d-flex align-itens-center justify-content-center text-decoration-none text-black" href="/transporter/historic">Ver Todos</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="profile">
            <figure>
              {# {if="$profile == true"}
                <img src="{$profile}" alt="">
              {else} #}
                <img src="/views/assets/img/admins/bg-default.png" alt="" srcset="">
              {# {/if} #}
            </figure>
          </div>       
        </div>
      </header>

        <div class="container">
            {% block transporter %}

            {% endblock %}
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/views/assets/js/price/jquery.priceformat.min.js"></script>
    <script src="/update-tokenvalidador/public/assets/js/main.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

</body>
</html>