* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b3966;
    padding: 30px;
  }
  
  .container{
    max-width: 850px;
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    position: relative;
  }
  .container .cover {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #1b3966d8;
    z-index: 999;
  }
  .container .form{
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
  .container .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #004cd5;
    opacity: 0.3;
    z-index: 9999;
  }
  .container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 999;
  }
  .container .content-form {
  
    display: flex;
    align-items: center;
    justify-content: end;
  
  }
  
  .content-form .login-form-driver {
    width: calc(100% / 2 - 25px);
  }
  
  form .content-form .title-form{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  
  form .content-form .title-form::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #3abfea;
  }
  
  form .content-form .inputs-form {
    margin-top: 30px;
  }
  
  form .content-form .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  
  form .content-form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  form .content-form .input-box input:focus{
    border-color: #3abfea;
  }
  
  form .content-form .input-box i{
    position: absolute;
    color: #3abfea;
    font-size: 17px;
  
  }
  .content-form .input-box.button{
    color: #fff;
    margin-top: 40px;
   
  }
  .content-form .input-box.button input{
    color: #fff;
    background-color: #3abfea;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  form .content-form .forgot{
    font-size: 14px;
  
  }
  form .content-form .forgot a {
    text-decoration: none;
    font-weight: 500;
    color: #333;
  }
  form .content-form .button input:hover {
    background-color: #1b3966;
  }
  
  .text-front {
    z-index: 99999999;
    color: #fff;
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
  }
  .text-front p {
    position: relative;
    color: #fff;
    font: 15px;
    text-align: center;
  }
  .msg-error-default {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background: #ff000059;
    color: #fff;
  }

  .error {
    border: solid 1px red;
    padding: 5px;
    color: red;
    position: relative;
    display: block;
    margin-top: 10px;

  }

  @media screen and (max-width: 730px) {
    .container .cover{
      display: none;
  
    }
    .content-form .login-form-driver{
      width: 100%;
    }
    
  }