* {
    font-family: 'Montserrat', sans-serif;
}

.error {
    border: solid 1px red;
    padding: 5px;
    color: red;
}

.success {
    border: solid 1px green;
    padding: 5px;
    color: green;
}

.actual {
    font-size: 18px;
    font-weight: bold;
}