@media screen and (min-width: 1200px){
  .sidebar.active {
  position: relative;
  width: 10%;
  margin: 0;
  padding: 0;
  float: left;
  }
  .sidebar.active .sidebar-menu li span:nth-of-type(2) {
  display: none;
  }
  .sidebar.active .sidebar-menu li {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 5px;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-right: 30px;
}
.sidebar li{padding:0 !important;}
  .sidebar.active .sidebar-brand img {
  width: auto;
  height: 60px;
  }
  /* .sidebar.active li {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  padding-right: 0;
  }*/
  .sidebar.active li {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: center;
  padding-right: 30px;
  }
  .sidebar.active li span:nth-of-type(1) {
  padding-right: 0;
  }
  .sidebar.active .show-hide-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  /*font-size: 40px;*/
  font-size: 20px;
  }
  .sidebar.active .logout span:nth-of-type(2) {
  display: none;
  }
  .content.active {
  display: flex;
  flex-wrap: wrap;
  }
  .content.active .main_content_panel, .content.active header {
  margin: 0;
  left: 0;
  padding: 0px 25px;
  width: 100%;
  }
  .content.active .graphc {
  width: 60%;
  }
  .content.active header, .content.active main {
  width: 100%;
  }
  .create_plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 30px;
  }
  /* main.main_content_panel.active {
  width: 90%;
  } */
  .hide-menu-mobile {display:none;}
  .box.box-primary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  }
  .main_content_panel .content {
  width: 100%;
  }
  }
  .plans_benefits { width: 100%; }
  .container_plan_created {
  display: flex;
  flex-wrap: wrap;
  }
  .content_plan_created {
  padding: 15px;
  background: #fff;
  margin-top: 20px;
  box-shadow: 1px 2px 4px #ccc;
  margin: 10px;
  width: 100%;
  }
  .content_plan_created span b {margin-right: 5px;}
  .buttons_plan a {
  padding: 7px 15px;
  }
  .buttons_plan a:nth-of-type(1) {
  background: #3abfea;
  color: #fff;
  border-radius: 20px;
  }
  .buttons_plan a:nth-of-type(2) {
  background: #dd0b0b;
  color: #fff;
  border-radius: 20px;
  }
  .box_benefits_plans {
  width: 100%;
  }
  .content_plans {
  width: 100%;
  }
  .title_and_new {
  display: flex;
  align-items: center;
  }