/* Import Fonts */
@import url('../fonts/style.css');
:root{
/**
* Background Colors
*/
--first-color: #1a3967 ;
--second-color: #3abfea;
--three-color: #f5f5f5;
--four-color: #ccd3db;
--five-color: #fc81f6;
/**
* Fonts Family
*/
--first-font-family: 'roboto', sans-serif, arial;
/**
* Font Size
*/
--title-icon-dashboard: 2.3rem;
--title-font-size: 1.5em;
--big-font-size: 1.2em;
--normal-font-size: 1em;
--small-font-size: .8em;
--smaller-font-size: .6em;
/**
* margenes bottom
*/
--mb-0-25: .25rem;
--mb-0-5: .5rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;
--mb-3-5: 3.5rem;
}
html {
    height: 100%;
    scroll-behavior: smooth !important;
}

html, body { overflow-x: hidden; position: relative;}
* { margin: 0; padding: 0; box-sizing: border-box; list-style: none; box-sizing: border-box; padding: 0; margin: 0; font-weight: 400 !important; }
a { text-decoration: none; }
ol, ul { list-style: none; }

body { margin: var(--header-height) 0 0 0;  font-family: var(--first-font-family);  font-size: var(--normal-font-size); background-color: var(--body-color);  color: var(--text-color);  min-height: 100%; overflow: hidden;}
h1, h2, h3{ color: var(--first-color); font-family: var(--title-font); }
ul { list-style: none; }
a { text-decoration: none !important; }
img,
video { max-width: 100%; height: auto; }
button,
input { border: none; font-family: var(--first-font-family); font-size: var(--normal-font-size); }
button { cursor: pointer }
input { outline: none; }
.new_user form {
width: 100%;
margin-top: 40px;
}
.new_user form input, .group_input input {
width:100%;  
padding: 10px 15px;
margin-bottom: 15px;
border: solid 1px #ccc;
border-radius: 5px;
font-family: var(--first-font-family);
font-size: var(--normal-font-size);
background: #fff;
place-self: center;
}
.new_user, .create_user.create_plan {
padding: 0 15px;
background: #fff;
}
/*============ REUSABLE CSS CLASSES ==========*/
.section { padding: 2.5rem 0 2.5rem; }
.section_blog { padding: 0 0 2.5rem; }
.section__title {  font-size: var(--title-icon-dashboard); color: var(--first-color); text-align: center; text-transform: capitalize; margin-bottom: var(--mb-1); font-family: var(--first-font-family);}
.section__title__button { font-size: var(--h2-font-size); color: var(--title-color); text-align: left; text-transform: capitalize; margin-bottom: var(--mb-2); }
.btn__main { padding: 10px 25px; border-radius: 17px; background: var(--first-color); color: var(--white-color); max-width: 150px;}
.container { max-width: 968px; margin-left: var(--mb-1); margin-right: var(--mb-1); }
.grid { display: grid; gap: 1.5rem; }
/* THEME */
/* LOGIN */
.bg_login_one { display: none; padding: 15%; background: #3abfeb; position: fixed; border-radius: 50%; bottom:-5%; left: -10%; }
.bg_login_two { display: none; padding: 15%; background: #1b3966; position: fixed; border-radius: 50%; top: -8%; left: 80%; }
.bg_login_three { display: none; padding: 15%; background: #292a27; position: fixed; border-radius: 50%; bottom: -44%; left: 90%; }
.container_box_login { position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); width: 85%; display: grid; flex-wrap: wrap; gap: .5rem; justify-items: center; }
.box_login input { width: 100%; height: 40px; padding: 5px; background: #3b5986; border: none; border-radius: 5px;color: #fff; }
img{height: 110px;}
form { width: 100%; }
.box_login {     background: #1b3966; padding: 30px 20px; display: grid; width: 100%; border-radius: 15px; position: relative; }
.box_login::before { content: ''; height: 15px; background: #3abfeb; position: absolute; bottom: 0; width: 100%; border-radius: 0 0 15px 15px; }
.box_login span i { font-size: 25px; padding-right: 20px; color: #fff; }
.box_login span { margin-bottom: 20px; display: flex; align-items: center; }
button { padding: 10px 5px; width: 7rem; justify-self: right; border-radius: 25px; border: none; background: #3abfeb; color: #fff; }
input::placeholder { color: #fff; }
/* DASHBOARD */
.sidebar { width: 80%; position: absolute; height: 100%; background-color: var(--first-color); left: -80%; transition: .5s; z-index: 999; }
.show-hide-menu { display: flex; padding: 10px; font-size: 1.5rem; color: #fff; justify-content: flex-end; }
.sidebar-brand { display: flex; justify-content: center; height: 6rem; margin-bottom: var(--mb-3-5);     margin-top: 2rem;}
.logout { width: auto !important; }
.logout, .sidebar-menu li { width: 100%; margin-bottom: var(--mb-1);  display: flex; align-items: center; /*padding-left: 2rem;*/ }
/*.logout, .sidebar-menu a{ font-family: var(--first-font-family); display: block; color: #fff; font-size: var(--big-font-size); }*/
.logout, .sidebar-menu a{ font-family: var(--first-font-family); display: block; color: #1b3966; font-size: var(--big-font-size); }  
.logout { margin-bottom: 1px; position: fixed; bottom: 2rem; display: flex; }
.logout span:first-child, .sidebar-menu a span:first-child { font-size: var(--title-font-size); padding-right: 1rem; }
.main-content {margin-left: 0;background-color: var(--three-color); min-height: 100vh; width: 100%;}
/* ORIGINAL
td a, .buttons_standard {
padding: 5px 5px;
margin: 10px;
border-radius: 25px;
width: 75px;
display: inline-block;
color: #fff;
font-weight: bold;
}
*/
button.bg-transparent.border-0 {
width: auto;
height: auto;
}
.profile { display: flex; align-items: center;}
.profile img { height: 50px; border-radius: 50%; width: 50px; object-fit: cover; }
.notifications span { position: absolute; width: 25px; height: 25px; background-color: #4ab8e4; border-radius: 50%; right: 0rem; color: #fff; border: solid 2px #fff; text-align: center; line-height: 1.4;font-family: var(--first-font-family); }
.notifications_content { position: relative; }
.notifications { display: flex; justify-content: center; align-items: center; }
.notifications_content i { font-size: 50px; color: #1a3967; }
header { width: 100%; height: 90px; display: flex; justify-content: space-between; padding: 0px 20px; align-items: center;}
header .ri-menu-fill { font-size: 30px; color: #1a3967; background: transparent; padding: 5px; border-radius: 5px; display: block; }
/*header .ri-menu-fill { font-size: 30px; color: #3abfea; background: #1a3967; padding: 5px; border-radius: 5px; display: block; }*/
.main_content_panel { width: 100%; padding: 0 15px; display: flex; flex-wrap: wrap; }
/*.block_info_system {background: #1a3967;border-radius: 15px;padding: 25px 20px;width: 100%;margin-bottom: 15px;}*/
.block_info_system {background: #fff;border-radius: 0px;padding: 25px 20px;width: 100%;margin-bottom: 15px; box-shadow: 0px 5px 15px -5px rgb(204 202 202);}
.block_info { display: flex; align-items: center; justify-content: space-between; width: 100%; }
.block_info span:nth-of-type(1){ padding-right: 20px; }
.block_info span img { height: auto; max-width: 85px; }
.block_info h3{ font-size: var(--title-icon-dashboard); color: #000;font-family: var(--first-font-family);}
.block_info p{ font-size: var(--normal-font-size); color: #292a27;font-family: var(--first-font-family); text-align: end; }
.block_show_transportes_and_graphic { display: flex; width: 100%; flex-wrap: wrap; }
/*.block_show_transportes_and_graphic h3 { font-family: var(--first-font-family); color: white; font-size: 1.6em; text-align: center; margin-bottom: 15px; }*/
.block_show_transportes_and_graphic h3 { font-family: var(--first-font-family); color: #292a27 !important; font-size: 1.6em; text-align: center; margin-bottom: 15px; }
/*.show_transporters, .graphic{ background-color: var(--first-color); padding: 10px; color: #fff; border-radius: 15px; }*/
.show_transporters, .graphic{ background-color: #fff; padding: 10px; color: #fff; border-radius: 0px; }
.last_transporter h3 { font-size: 1.2em; margin: 10px 0; width: 100%;}
/*.show_transporters {width: 100%; margin-bottom: 15px; }*/
.show_transporters {width: 100%; margin-bottom: 30px; box-shadow: 0px 5px 15px -5px rgb(204 202 202);}
.graphic { width: 100%; margin-bottom: 30px; }
.graphc { width: 60%; margin: 0 auto; }
.content_graphic { display: flex; flex-wrap: wrap; justify-content: center; }
/*.infos_panel { width: 100%; display: flex; flex-wrap: wrap; }*/
.infos_panel { width: 100%; display: flex; flex-wrap: wrap; margin-bottom: 15px; }
thead tr th { padding: 10px 0; background: #1a3967; color: #fff; text-align: center; }
tbody tr td { padding:  0; background: #fff; border-bottom: solid 1px #ccc; text-align: center; }
td a, .buttons_standard, .edit, .exclude { padding: 0px 5px; margin: 4px; border-radius: 5px; width: 75px; display: inline-block; color: #fff;  font-size: .9em;}
.buttons { display: flex; justify-content: center; }
.bg_button { background-color: var(--first-color); color: #fff; width: auto; padding: 5px 15px; text-align: center; line-height: 1.9; }
.title_and_new { width: 100%; display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px; }
td .edit {background-color: var(--second-color);}
td .exclude {background-color: red;}
.content_inner_transport { background: #fff; padding: 20px; margin-top: 30px; }
.group_inner_transport { display: grid; grid-template-columns: repeat(4, 2fr); gap: 2rem; margin-bottom: var(--mb-3-5); }
.group_inner_transport .inner_content span { color: #2d2d2d; font-size: .9em; font-weight: 500 !important; }
.group_inner_transport .inner_content h3 { color: #3e3e3e; padding-top: 5px; font-size: 1em; word-break: break-word;}
.content_show_transporters > h3 { margin-bottom: 25px; }
/*.last_transporter a { padding: 10px 25px; background: #fff; border-radius: 25px; color: #444; }*/
.last_transporter a { padding: 10px 25px; background: #1b3966; border-radius: 25px; color: #fff; }
.last_transporter { padding: 10px 15px;  background: #fff; width: 100%; display: flex; border-radius: 5px; flex-wrap: wrap; justify-content: center; margin-bottom: 20px;}
.image_transporter { width: 100px; height: 100px; border-radius: 50%; background: #ccc; }
/* Gráfico chartJs */
.title_item_chart { display: flex; justify-content: center; width: 100%; margin: 0 auto; margin-top: 20px; }
.item_title_chart { display: flex; align-items: center; }
.item_title_chart::before { content: ''; border-radius: 50%; width: 10px; height: 10px; background: red; position: relative; display: block; margin-right: 5px; }
.title_item_chart { display: flex; justify-content: space-between; width: 100%; margin: 15px auto 0; font-size: 13px; }
.item_title_chart:nth-of-type(1)::before { background: #ff6384; }
.item_title_chart:nth-of-type(2)::before { background: #36a2eb; }
.item_title_chart:nth-of-type(3)::before { background: #ffcd56; }
/* Inner Page buttons call*/
.group_icons { display: flex; align-items: center; }
.group_icons h3 { padding-right: 15px; }
.group_icons a { font-size: 25px; color: var(--second-color); padding: 6px; }
.group_icons a:hover { color: #1a3967 !important; transition: .5s; }
.blog_info_text a:hover{ background-color: #1a3967 !important; color:#fff; transition: .5s; }
.content_graphic { display: flex; justify-content: center; flex-direction: column; }
.group_inner_transport {
display: grid;
grid-template-columns: repeat(1,1fr);
}
.status_payment {
justify-content: center;
display: flex;
align-items: center;
height: 100%;
}
/*Botão tabela*/
.button {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}
.buttons_plan {
margin-top: 30px;
}
.row.g-3.mt-3.mb-5 button {
background: #3abfea;
border: none;
}
.group_input {
display: flex;
flex-direction: column;
margin-bottom: 15px;
}
.lockscreen-wrapper {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 70%;
display: flex;
flex-wrap: wrap;
gap: .5rem;
align-items: center;
justify-content: center;
background: #1a3967;
color: #fff;
border-radius: 5px;
padding: 25px 0;
font-size: 30px;
}
.callout.callout-success h4 {
font-size: 18px;
text-align: center;
}
.callout.callout-success p {
text-align: center;
margin-top: 10px;
font-size: 13px;
padding: 0 20px;
}
.callout.callout-success a { padding: 2px 0px; background: #fff; margin: 10px auto; display: block; max-width: 40%; text-align: center; color: #1a3967; font-size: 15px;}
.name_User { color: #fff;  margin-bottom: 17px; }
.sidebar-menu {
/*margin-top: 90px;*/
margin-top: 40px;
width: 52%;
    margin: 0 auto;
}

.blog_info_text h3, .blog_info_text p {  
color: #292a27 !important;
}
.block_info span i {
font-size: 50px;
color: #1b3966;
}
.block_info_system {
align-items: center;
display: flex;
}
thead tr th {
padding: 10px 0;
background: #fff;
color: #292a27;
text-align: center;
}
.buttons_add {
display: flex;
}
.buttons_add a:nth-of-type(1) {
padding: 5px 10px;
margin: 10px;
background: #dfb129;
border-radius: 25px;
color: #fff;
line-height: 2;
}
.buttons_add a:nth-of-type(2) {
padding: 5px 10px;
margin: 10px;
background: #3abfeb;
border-radius: 25px;
color: #fff;
line-height: 2;
}
.buttons_add a:nth-of-type(3) {
padding: 5px 10px;
margin: 10px;
background: #1b3966;
border-radius: 25px;
color: #fff;
line-height: 2;
}
     .alert_csv {
    width: 100%;
    padding: 10px;
    background: rgb(235 203 63 / 21%);
    color: #292a27;
    display: flex;
    align-items: center;
    }
    /*
    .alert_csv i {
    font-size: 30px;
    color: #292a27;
    padding-right: 15px;
    }
    .alert_csv a {
    padding: 5px;
    margin-left: 10px;
    background: #292a27;
    color: #fff;
    display: flex;
    align-items: center;
    } */
span.download_csv i {
color: #fff;
font-size: 15px;
}
span.download_csv {
display: flex;
}
/* .field_csv label {
padding: 10px;
background: #3abfea;
color: #fff;
} */
form.upload_form_csv {
width: 50%;
padding: 30px 30px;
background: #fff;
}
.field_csv {
padding: 0px 20px;
border: 3px dashed #ccc;
}
.upload_csv {
display: flex;
justify-content: center;
}
p.text_upload_file {
text-align: center;
font-size: 14px;
color: #666;
}
.field_csv .upload_file i {
font-size: 60px;
color: #1a3967;
}
.field_csv .upload_file {
display: flex;
justify-content: center;
}
.field_csv > label {
width: 100%;
height: 100%;
background: transparent;
position: absolute;
left: 0;
top: 0;
cursor: pointer;
}
.field_csv {
position: relative;
}
.progress.mt-2 {
margin-bottom: 30px;
background: #1b3966;
border-radius: 10px;
}
button.enviar_csv {
width: 100%;
margin-top: 20px;
border-radius: 25px;
background-color: #1b3966;
}
.message-alert {
width: 100%;
}
form.upload_form_csv {
width: 100%;
}
.enviar_csv {
border-radius: 0;
}
a:hover {
text-decoration: none !important;
}
.buttons.exclude_driver a {
background: red;
}
.inner_content .contratar {
padding: 10px;
background: #1a3967;
color: #fff;
}
.hide_menu_mobile {
display: flex;
padding: 10px;
font-size: 1.5rem;
color: #1a3967;
justify-content: flex-end;
}
.last_transporter {
background: #f3f3f3;
}
.confirm_block_red {
padding: 10px;
background: #ff9292;
text-align: center;
color: #fff;
}
.confirm_block_green {
padding: 10px;
background: #83bee2;
margin-left: 15px;
text-align: center;
color: #fff;
}
.status_confirmed {
display: flex;
justify-content: center;
align-items: center;
padding: 2px 5px;
background: #41bd2a;
border-radius: 25px;
color: #fff;
width: 110px;
}
.status_execution {
display: flex;
justify-content: center;
align-items: center;
padding: 2px 5px;
background: #e3811b;
border-radius: 25px;
color: #fff;
width: 110px;
}
.progress-bar {
border-radius: 10px;
background: #1a3967;
transition: 2s ease !important;
}
ul.paginataion {
width: 100%;
padding: 0;
flex-wrap: wrap;
}
.alert.alert-danger {
padding: 15px;
background: #ffacac;
width: 100%;
color: #fff;
display: flex;
align-items: center;
border: solid 1px #c36868;
border-radius: 2px;
font-size: 17px;
}

.alert.alert-danger-success{
padding: 15px;
background: #7fb2f5;
width: 100%;
color: #fff;
display: flex;
align-items: center;
border: solid 1px #68c3bf;
border-radius: 2px;
font-size: 17px;
}
.ri-error-warning-fill.error-msg,
.ri-checkbox-circle-fill {
margin-right: 15px;
}
.icon_notification {
position: relative;
width: auto;
display: flex;
justify-content: flex-end;
}
span.icon_notification i {
font-size: 30px;
color: #fff;
cursor: pointer;
}
.icon_notification span {
height: 20px;
background: #3abfeb;
border-radius: 50%;
position: absolute;
width: 20px;
text-align: center;
font-size: 15px;
line-height: 1.5;
color: #fff;
}
.nav-item {
align-items: center;
display: flex;
}
.dropdown_notification {
background: #fff;
padding: 5px;
position: absolute;
top: 41%;
}
.item-message {
padding: 10px;
border-bottom: solid 1px #eee;
}
.item-message a {
color: #1b3966;
text-decoration: none;
font-weight: 400;
}
.dropdown_notification {
width: 100%;
background: #fff;
padding: 5px;
position: absolute;
top: 38%;
border: solid 1px #ccc;
}
.container_notifcations {
width: 300px;
display: none;
text-decoration: none !important;
position: absolute;
right: 20px;
top: 91px;
}
ul.container_notifcations li {
list-style: none;
position: relative;
z-index: 10;
}
.profile figure {
margin: 0;
}
.box_notification a:hover {
color: #000 !important;
}
/*========================================= Novo Template ===============================================*/
.container_header {
width: auto;
display: flex;
justify-content: space-between;
}
.container.container_inner_transporter {
width: 100%;
}
.content_profile_transporter {
width: 100%;
padding: 15px;
}
.send_profile {
padding: 19px 25px;
border: 3px dotted #666;
position: relative;
}
.send_profile label {
position: absolute;
width: 100%;
height: 100%;
cursor: pointer;
top: 0;
left: 0;
}
.send_profile span i {
font-size: 55px;
color: #1a3967;
}
.profile_transporter {
background: #fff;
padding: 15px;
}
.send_profile h4 {
font-size: 15px;
text-align: center;
}
.profile_transporter button {
width: 100%;
margin-top: 15px;
border-radius: 25px;
}
.send_profile span {
display: flex;
justify-content: center;
}
.sidebar {
width: 80%;
position: absolute;
height: 100%;
background-color: #fff;
left: -80%;
transition: .5s;
z-index: 999;
}
.show_transporters h3 {
padding: 10px 0 10px;
}

.item-message a{font-size: 13.5px;}

.tokens-font{
    font-size: 18px;
}

.error {
    border: solid 1px red;
    padding: 5px;
    color: red;
}

.success {
    border: solid 1px green;
    padding: 5px;
    color: green;
}

.actual {
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width: 480px){ 
.group_inner_transport {
display: grid;
grid-template-columns: repeat(2,1fr);
}
.title_and_new { justify-content: space-between; }
}

@media screen and (max-width: 520px){
    .sidebar-menu li a{
        padding-left: 0 !important;

    }    
}

.search button {
background: #00a1de;
border: none;
}
.search button:hover{
background: #018bbd;
transition: .5s;
}
.card-header.py-3 {
background: #1a3967;
color: #fff;
}
.card-body {
background: #fff;
}
.card-body a {
background: #00a1de;
color: #fff;
border: none;
}
.button-alter-password a, .btn-send{
background: #00a1de !important;
border: none !important;
border-radius: 25px;
}
@media screen and (min-width: 620px){  
.container_box_login { position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); width: 50%; display: grid; flex-wrap: wrap; gap: .5rem; justify-items: center; }
.box_login { padding: 50px 20px;  }
.infos_panel { width: 100%; display: grid; flex-wrap: wrap; grid-template-columns: repeat(2,1fr); gap: 1rem; }
.graphic { width: 100%; }  
td.buttons { width: 0px; }  
.new_user form, .create_user.create_plan form {
width: 100%;
margin-top: 40px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.group_input {
width: 48%;
}
.button_save_user {
width: 100%;
}
.container_plan_created {
display: grid !important;
grid-template-columns: repeat(2,1fr);
}
.content_plan_created{
width: auto !important;
}
}
@media screen and (min-width: 768px){  
.infos_panel {display: grid;}
.content_show_transporters { display: grid; grid-template-columns: repeat(2,1fr); gap: 1rem; }
.sidebar-brand { display: flex; justify-content: center; height: 6rem; margin-bottom: var(--mb-3-5);     margin-top: 2rem;}
.lockscreen-wrapper {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 34.45vw;display: flex;flex-wrap: wrap;gap: .5rem;align-items: center;justify-content: center; background: #1a3967; color: #fff; border-radius: 5px; padding: 15px 0;}
.content_profile_transporter {
width: 35%;
padding: 15px;
}
}
@media screen and (max-width: 768px){ 
/*MOTORISTAS - Nome, CPF, Cidade, Telefone, Detalhes*/
/*ADMINISTRADORES - Nome, E-mail, Login*/
/* .main_content_panel tbody tr:nth-of-type(1) { display: none; } */
.main_content_panel table, thead, tbody, th, td, tr { display: block; }
.main_content_panel thead tr { position: absolute; top: -9999px; left: -9999px; }
.main_content_panel tr { border: 1px solid #ccc; margin-bottom: 20px; }
.main_content_panel td {  border: none; border-bottom: 1px solid #eee;  position: relative; padding-left: 50%; width: 100%}
.main_content_panel tr td { border: solid 1px #ccc; }
.main_content_panel td:before {  position: absolute; left: 6px; padding-right: 10px;  white-space: nowrap; }
.page_payment td:nth-of-type(2):before { content: "Bandeira"; }
.page_payment td:nth-of-type(1):before { content: "Nome do titular"; }
.page_payment td:nth-of-type(3):before { content: "Últimos digitos"; }
/* .page_payment td:nth-of-type(4):before { content: "Expiração"; } */
.page_payment td:nth-of-type(4):before { content: "Editar"; }  
.main_content_panel .button a { display: inline; }
.main_content_panel td:before { background: #1a3967; width: 45%; left: 0; margin: 0; border: none; color: #fff; font-family: var(--first-font-family); min-height: 100%; top: 0; line-height: unset; display: flex; align-items: center; padding-left: 2%; word-break: break-all;}

.main_content_panel td { border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50% !important; min-height: 40px; line-height: 2.2; }

.table_plan td:nth-of-type(1):before { content: "Plano"; }
.table_plan td:nth-of-type(2):before { content: "Benefícios"; }
.table_plan td:nth-of-type(3):before { content: "Editar"; }


/* Transportadoras */
/* TRANSPORTADORAS -  Transportadora, CNPJ, Cidade, Telefone, Detalhes, Status*/
.table_transporters td:nth-of-type(1):before { content: "ID"; }
.table_transporters td:nth-of-type(2):before { content: "Transportadora"; }
.table_transporters td:nth-of-type(3):before { content: "CNPJ"; }
.table_transporters td:nth-of-type(4):before { content: "Cidade"; }
.table_transporters td:nth-of-type(5):before { content: "Telefone"; }
.table_transporters td:nth-of-type(6):before { content: "Detalhes"; }
.table_transporters td:nth-of-type(7):before { content: "Status"; }
.table_admins td:nth-of-type(1):before { content: "ID"; }
.table_admins td:nth-of-type(2):before { content: "Nome"; }
.table_admins td:nth-of-type(3):before { content: "Email"; }
.table_admins td:nth-of-type(4):before { content: "Login"; }
.table_admins td:nth-of-type(5):before { content: "Editar"; }
.table_admins td:nth-of-type(6):before { content: "Excluir"; }
.table-historic td:nth-of-type(1):before { content: "ID"; }
.table-historic td:nth-of-type(2):before { content: "Nome"; }
.table-historic td:nth-of-type(3):before { content: "CNPJ"; }
.table-historic td:nth-of-type(4):before { content: "CPF"; }
.table-historic td:nth-of-type(5):before { content: "Status"; }
.table-historic td:nth-of-type(6):before { content: "Detalhes"; }
.table-historic td:nth-of-type(7):before { content: "Data"; }
.table-driver td:nth-of-type(1):before { content: "ID"; }
.table-driver td:nth-of-type(2):before { content: "Nome"; }
.table-driver td:nth-of-type(3):before { content: "CNPJ"; }
.table-driver td:nth-of-type(4):before { content: "Cidade"; }
.table-driver td:nth-of-type(5):before { content: "Celular"; }
.table-driver td:nth-of-type(6):before { content: "Detalhes"; }
.table-driver td:nth-of-type(7):before { content: "Editar"; }
.table-driver td:nth-of-type(8):before { content: "Excluir"; }
.search { display: none; }
main.main_content_panel.table_admins td a {
display: inline;
}  
/* td.p-3.text-secondary {
line-height: .5;
} */
}
.show-menu {left: 0; transition: .5s;}
@media screen and (min-width: 968px){
.group_inner_transport {
display: grid;
grid-template-columns: repeat(3,1fr);
}
/* .hide_menu_mobile{display:none !important;} */
@media screen and (max-width: 968px){
.show-hide-menu{display: none;}
}
.container_plan_created {  
grid-template-columns: repeat(3,1fr);  
}
}

@media screen and (min-width: 1024px){
.infos_panel {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
}

@media screen and (min-width: 560px) and (max-width: 870px){
    .sidebar{
        max-width: 50%;
    }
}

@media screen and (min-width: 870px){
    .sidebar{
        max-width: 40%;
    }
}

@media screen and (min-width: 1100px){
.infos_panel { width: 100%; display: grid; flex-wrap: wrap; grid-template-columns: repeat(3,1fr); gap: 1rem; }
.content_show_transporters { grid-template-columns: repeat(3,1fr); }
.graphc { width: 50%; }
.block_info_system {margin-bottom: 0;}
}
.active {left: 0; transition: .5s;}
.hide_menu_mobile {
display: flex;
padding: 10px;
font-size: 1.5rem;
color: #1a3967;
justify-content: flex-end;
}
.show-hide-menu{display: none;}
.sidebar-brand {
display: flex;
justify-content: center;
height: 6rem;
margin-bottom: var(--mb-2-5);
margin-top: 0;
}
.blog_info_text a {
display: inline-block;
background: #3abfea;
color: #fff;
padding: 3px 10px;
float: right;
margin-top: 5px;
border-radius: 25px;
}
@media screen and (min-width: 1200px){
/* LOGIN */
header .ri-menu-fill { display:none; }
.bg_login_one { display: block; padding: 15%; background: #3abfeb; position: fixed; border-radius: 50%; bottom: -35%; left: -15%; }
.bg_login_two { display:block; padding: 15%; background: #1b3966; position: fixed; border-radius: 50%; top: -53%; left: 60%; }
.bg_login_three { display:block; padding: 15%; background: #292a27; position: fixed; border-radius: 50%; bottom: -44%; left: 90%; }
/*.container {}*/
.container_box_login { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 34.45vw; display: grid; flex-wrap: wrap; gap: .5rem; justify-items: center; }
.box_login input { width: 100%; height: 40px; padding: 5px; background: #3b5986; border: none; border-radius: 5px;color: #fff; }
img{height: 110px;}
form { width: 100%; }
.box_login {     background: #1b3966; padding: 70px 40px; display: grid; width: 100%; border-radius: 15px; position: relative; }
.box_login::before { content: ''; height: 15px; background: #3abfeb; position: absolute; bottom: 0; width: 100%; border-radius: 0 0 15px 15px; }
.box_login span i { font-size: 25px; padding-right: 20px; color: #fff; margin-bottom: 15px;}
.box_login span { margin-bottom: 20px; display: flex; align-items: center; }
button { padding: 10px 5px; width: 7rem; justify-self: right; border-radius: 25px; border: none; background: #3abfeb; color: #fff; }
input::placeholder { color: #fff; }
/* DASHBOARD */
.sidebar { width: 25vw; position: absolute; left: 0; height: 100%; background-color: #fff; transition: .5s;}
.hide_menu_mobile{display:none !important;} 
.show-hide-menu { display: flex; padding: 10px; font-size: 1.5rem; color: #1b3966; justify-content: flex-end; }
.logout { width: auto !important; }
.logout, .sidebar-menu li { width: 100%; margin-bottom: 0; padding-left: 2rem; display: flex; align-items: center; }
.logout, .sidebar-menu a{ font-family: var(--first-font-family); display: flex; color: #1b3966; font-size: var(--big-font-size); align-items: center; }
.logout { margin-bottom: 1px; position: fixed; bottom: 2rem; display: flex; }
.logout span:first-child, .sidebar-menu a span:first-child { font-size: var(--title-font-size); padding-right: 1rem; }
.main-content { background-color: #f4f4f4; min-height: 100vh; display: block; position: relative; }
.search { width: 52rem; padding: 0; display: flex; align-items: center; }
input[type="search"] { width: 100%; height: 45px; border-radius: 25px; border: none; padding-left: 30px; background: #ccd3db; color:white; }
input::placeholder { color: #fff; font-size: 15px; }
.profile { width: 45%; display: flex; align-items: center; justify-content: center; }
.profile img { height: 50px; border-radius: 50%; width: 50px; object-fit: cover; }
.notifications span { position: absolute; width: 25px; height: 25px; background-color: #4ab8e4; border-radius: 50%; right: 0rem; color: #fff; border: solid 2px #fff; text-align: center; line-height: 1.4; font-family: var(--first-font-family); }
.notifications_content { position: relative; }
.notifications { display: flex; justify-content: center; align-items: center; }
.notifications_content i { font-size: 50px; color: #1a3967; }
/*header { width: 79vw; height: 90px; display: flex; left: 21vw; position: relative; justify-content: space-between; background: transparent;}*/
header { width: 79vw; height: 90px; display: flex; left: 19.5vw; position: relative; justify-content: space-between; background: transparent;}
/*.main_content_panel { width: 70vw; padding: 10px 0px 0 2rem; display: flex; flex-wrap: wrap; gap: 1rem; }*/
.main_content_panel { width: 72vw; padding: 10px 0px 0 2rem; display: flex; flex-wrap: wrap; gap: 1rem; position: relative; margin-left: 19vw; transition: .4s ease-out;}
.block_info_system { background: #fff; border-radius: 0px; padding: 25px 20px; -webkit-box-shadow: 0px 5px 15px -5px rgba(204,202,202);-moz-box-shadow: 0px 5px 15px -5px rgba(204,202,202); box-shadow: 0px 5px 15px -5px rgba(204,202,202); }
.block_info { display: flex; align-items: center; justify-content: space-between; width: 100%; }
.block_info span:nth-of-type(1){ padding-right: 20px; }
.block_info span img { height: auto; max-width: 85px; }
.block_info h3{ font-size: var(--title-icon-dashboard); color:#000; font-family: var(--first-font-family);}
.block_info p{ font-size: var(--normal-font-size); color: #292a27; font-family: var(--first-font-family); }
.block_show_transportes_and_graphic {display: flex;}
.block_show_transportes_and_graphic h3{ font-family: var(--first-font-family); color: #292a27; font-size: var(--title-font-size); text-align: left; }
.show_transporters, .graphic{ background-color: #fff; padding: 10px; color: #fff; border-radius: 0; }
.show_transporters {width: 100%; -webkit-box-shadow: 0px 5px 15px -5px rgba(148,148,148,1); -moz-box-shadow: 0px 5px 15px -5px rgba(148,148,148,1); box-shadow: 0px 5px 15px -5px rgba(148,148,148,1);}
.infos_panel { /*width: 100%; display: flex; flex-wrap: wrap;*/ margin-bottom: 0px; }
.graphic { /*max-width: 280px;*/min-width: 280px; -webkit-box-shadow: 14px 12px 19px -16px rgb(0 0 0); -moz-box-shadow: 14px 12px 19px -16px rgb(0 0 0); box-shadow: 14px 12px 19px -16px rgb(0 0 0); }
.graphc { width: 100%; }
/*OLD.graphic { max-width: 245px; -webkit-box-shadow: 14px 12px 19px -16px rgb(0 0 0); -moz-box-shadow: 14px 12px 19px -16px rgb(0 0 0); box-shadow: 14px 12px 19px -16px rgb(0 0 0); }*/
.infos_panel{width:100%; display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; margin-top: 20px;}
.content_show_transporters { grid-template-columns: repeat(1,1fr); gap: 0;}
thead tr th { padding: 10px 0; background: #fff; color: #292a27; text-align: center; border-bottom: solid 1px #ccc; }
tbody tr td { padding:  0; background: #fff; border-bottom: solid 1px #ccc; text-align: center; }
td a, .buttons_standard, .block-green, .block-yellow, .block-red { padding: 5px 5px !important; margin: 10px; border-radius: 25px !important;  width: 75px; display: inline-block; color: #fff; /*font-weight: bold;*/ }
.bg_button { background-color: var(--first-color); color: #fff; width: auto; padding: 5px 15px; text-align: center; line-height: 1.9; }
.title_and_new {width: 100%; display: flex; justify-content: space-between;}
td .edit {background-color: #1b3966;}
td .exclude {background-color: red;}
td.buttons { width: 195px; }
.content_inner_transport { background: #fff; padding: 20px; margin-top: 30px; }
.group_inner_transport { display: grid; grid-template-columns: repeat(4, 2fr); gap: .6rem; margin-bottom: var(--mb-3-5); }
.group_inner_transport .inner_content span { color: #2d2d2d; font-size: .9em; font-weight: 500 !important; }
.group_inner_transport .inner_content h3 { color: #3e3e3e; padding-top: 5px; font-size: 1em; }
.content_show_transporters > h3 { margin-bottom: 25px; }
.last_transporter a { padding: 5px 25px; background: #1b3966; border-radius: 25px; color: #fff; width: 12vw; text-align: center; }
.last_transporter { padding: 0 10px; margin-bottom: 10px; background: #f3f3f3; width: 100%; display: flex; justify-content: space-between; border-radius: 5px; align-items: center; flex-wrap: nowrap; min-height: 20px;}
.image_transporter { width: 55px; height: 40px; border-radius: 50%; background: #ccc; margin-right: 35px; margin-bottom: 0;}
/* Gráfico chartJs */
.title_item_chart { display: flex; justify-content: center; width: 100%; margin: 0 auto; margin-top: 20px; }
.item_title_chart { display: flex; align-items: center; }
.item_title_chart::before { content: ''; border-radius: 50%; width: 10px; height: 10px; background: red; position: relative; display: block; margin-right: 5px; }
.title_item_chart { display: flex; justify-content: space-between; width: 100%; margin: 15px auto 0; font-size: 13px; }
.item_title_chart:nth-of-type(1)::before { background: #ff6384; }
.item_title_chart:nth-of-type(2)::before { background: #36a2eb; }
.item_title_chart:nth-of-type(3)::before { background: #ffcd56; }
/* Inner Page buttons call*/
.group_icons { display: flex; align-items: center; }
.group_icons h3 { padding-right: 15px; }
.group_icons a { font-size: 25px; color: var(--second-color); padding: 6px; }
.create_user {
position: relative;
left: 25vw;
display: flex;
justify-content: center;
width: 75vw;
}
.new_user {
width: 70vw;
background: #fff;
}
.new_user h2 {
margin-top: 30px;
}
.new_user form {
display: flex;
flex-wrap: wrap;
margin-top: 50px;
padding: 0 15px;
}
.new_user .group_input {
width: 46%;
margin: 10px;
}
.button_save_user {
width: 100%;
padding-bottom: 25px;
}
.group_input {
display: flex;
flex-direction: column;
}
.new_user button {
justify-self: start;
}
.content_inner_transport {
left: 21vw;
width: 80%;
position: relative;
display: block;
}
.confirm_block_yellow {
padding: 10px;
background: #fff6ae;
margin-left: 15px;
}
.content.active .content_inner_transport {
position: relative;
left: 0;
width: 100%;
}
.content.active .container {
max-width: 100%;
}
.content.active .create_user {
position: relative;
left: 0;
width: 100%;
}
.content.active .main_content_create_user {
width: 100%;
}
.content.active .new_user {
width: 100%;
margin: 0 20px;
}
.content.active .search {
padding: 0;
width: 80%;
}
}
.box_footer {
width: 100%;
display: flex;
justify-content: flex-end;
}
ul.paginataion li {
padding: 10px 15px;
margin: 5px;
background: #1a3967;
}
ul.paginataion {
display: flex;
}
ul.paginataion li a {
color: #fff;
}
.blog_info_text h3 {
font-size: 22px;
text-align: end;
}
.block-green{ border-radius: 25px; padding: 0px 15px; font-size: .9em; background:rgb(158, 255, 195); color: #000; word-break: break-word;}
.block-yellow{ border-radius: 25px; padding: 0px 15px; font-size: .9em; background:rgb(235, 203, 63); color: #000; word-break: break-word;}
.block-red{border-radius: 25px; padding: 0px 15px; font-size: .9em; background:rgb(253, 170, 170); color: #000; word-break: break-word;}
td.status {
/* width: 100%; */
}
.box_login span:nth-of-type(2) {
margin-bottom: 0;
}
.box_login a:nth-of-type(1) {
color: #fff;
padding: 6px 46px 0;
}
.lockscreen-wrapper img { max-width: 100%; padding: 15px; }
.inner_content.verify_driver{display: flex;}
button.contratar {
width: auto;
}
.inner_content.verify_driver {
display: grid;
grid-template-columns: repeat(3, 1fr);
width: 72%;
}
.hire_driver button {
width: 100%;
padding: 10px;
}
.confirm_block_green, .confirm_block_yellow {
display: inline-block;
}
/* .sidebar-menu ul {
padding-left: 0;
} */

.sidebar-menu ul {
    padding-left: 0;
}

a:hover{
color: #fff !important;
}
.sidebar-menu li a {
width: auto;
display: flex;
}
.sidebar-menu a:hover{
color: #1b3966 !important;
}
/* .bg_blue{
background: #1b3966 !important;
} */
.container .card{
background: #fff;
border-radius: 5px;
/* box-shadow: 0 10px 15px rgba(0,0,0,.1); */
/* padding: 20px;
width: 600px; */
}
.inputBox input::-webkit-input-placeholder { /* Edge */
color: #666;
}
.inputBox input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #666;
}
.inputBox input::placeholder {
color: #666 !important;
}
.container .inputBox{
margin-top: 20px;
}
.container .inputBox span{
display: block;
color:#999;
padding-bottom: 5px;
}
.container .inputBox input{
width: 100%;
padding: 10px;
border: 2px solid rgba(0, 0, 0, 0.158);
color: #444;
}
.btn-form-card{
width: min-content;
padding: 10px 45px;
margin-top: 25px;
background-color: #1b3966;
color: #fff;
border-radius: 25px;
}
@media screen and (min-width: 768px){
.upload_csv form {
width: 35%;
}
}
.table td {
color: #212529 !important;
text-align: center;
}
.table th{text-align: center;}
